<div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <!-- The following uses two-way data binding -->
      <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->

      <!-- The following uses local references, the reference being serverNameInput; this variable stores the tag's entire data -->
      <input type="text" class="form-control" #serverNameInput>

      <label>Server Content</label>
      <!-- The following uses two-way data binding -->
      <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->

      <!-- Alternative: using ViewChild to access template data from TS directly-->
      <input type="text" class="form-control" #serverInputContent>
      <br>

      <!-- pass the local reference, serverNameInput; Note the serverNameInput is only accessible within this template and must be passed 
      to other events if they are needed in TS. If direct access from TS is required (and thus need not be triggered by an event) then 
      use the decorator, @ViewChild, above  -->
      <button
        class="btn btn-primary"
        (click)="onAddServer(serverNameInput, serverInputContent)">Add Server</button>
      <button
        class="btn btn-primary"
        (click)="onAddBlueprint(serverNameInput, serverInputContent)">Add Server Blueprint</button>
    </div>
  </div>