<div class="panel panel-default">
    <div class="panel-heading">{{ element.name }}</div>
    <div class="panel-body">
        <p>
            <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
            <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
        </p>

        <!-- Copying the p tag and its content to the parent app.component.html (in the <app-server-element> element)),
            and then adding the directive:

            <ng-content></ng-content>
            
            to this template achieves the same result. Without the ng-content tag here, the app-server-element would not render copied <p>
            element (this is default behaviour).
            
            Here, the <p></p> element is projected into the component (from parent to child) app-server-element.

            The usefulness comes when one wants to pass reusable widgets from the parent to a component, when the underlying HTML is complex
        -->
    </div>
</div>