<div class="container">
  <!-- Once a server is created, use the serverCreated event to trigger a method in app-component, for example -->
  <!-- app-cockpit updates its own array of servers; the goal here is to update app-component's array of servers too -->
  <!-- See cockpit TS file for a sequence of events -->
  <app-cockpit
  (serverCreated)="onServerAdded($event)"
  (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-warning" (click)="onChangeHeader()">Change first server header</button>
      <button class="btn btn-danger" (click)="onDeleteServer()">Delete first server</button>
      
      <!-- [childProperty]="parentProperty" -->
      <app-server-element 
      *ngFor="let serverElement of serverElements"
      [element]="serverElement"
      [name]="serverElement.name"
      ></app-server-element>
    </div>
  </div>
</div>
